<link rel="stylesheet" href="view/css/font-awesome.min.css" />

<div data-ng-controller="PasswordLostCtrl">
		<div style="width: 100%; margin: 1em auto;">
				<h1 class="page-header">
						<i class="fa fa-question"></i> Password dimenticata
				</h1>

				<form role="form">
						<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Inserisci la tua email">
						</div>
						<hr />
						<button type="submit" class="btn btn-primary btn-block btn-sm">Recupera la tua password</button>
				</form>

		</div>


</div>
