<nav class="navbar navbar-inverse navbar-static-top top-bar" role="navigation" style="margin-bottom: 0px;">
		<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-bar-collapse" onclick="setTimeout(function() { $(window).resize(); }, 1000);">
								<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="" style="margin: 0px 5px 0px 0px; padding: 0px;"><img src="img/wa-logo.png" alt="" /></a>
				</div>


				<div class="collapse navbar-collapse" id="top-bar-collapse">
						<ul class="nav navbar-nav navbar-left">
								<li><a href="" class="btn-info" data-ng-click="stopAllActivities()"><i class="fa fa-home pointer"></i></a></li>
								<li class="navbar-text"><span data-ng-repeat="item in activityStack()"><i class="fa fa-caret-right"></i> {{item.activity.name}} &nbsp;</span></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
								<li class="dropdown" data-ng-show="notifies().length > 0"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <span class="badge badge-warning">{{notifies().length}}</span> <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li data-ng-repeat="n in notifies()"><a href="" data-ng-click="removeNotify($index)"><span class="badge badge-info">{{n.type}}</span> {{n.message}}</a></li>
												<li class="divider"></li>
												<li><a href="" data-ng-click="removeAllNotifies()"><i class="fa fa-times"></i> Rimuovi tutte le notifiche</a></li>
										</ul></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
										</ul></li>

								<li data-ng-show="activityStack().length > 0"><a href="" class="btn-danger" data-ng-click="stopActivity()"><i class="fa fa-step-backward"></i> indietro</a></li>
						</ul>
						<p class="navbar-text navbar-right" data-ng-show="startingApp">
								<span class="badge badge-info">Avvio applicazione {{startingApp}}...</span>
						</p>
				</div>
		</div>
		<!-- /.container-fluid -->
</nav>
<div data-ng-hide="displayActivity">
		<div class="pointer app text-center" data-ng-repeat="app in apps" data-ng-click="startApp(app.id)">
				<img data-ng-src="{{app.icon}}" alt="">
				<div class="caption">
						<p>{{app.name}}</p>
				</div>
		</div>
</div>
<div data-ng-show="displayActivity">
		<div id="viewport"></div>
</div>