
<div>
	<nav data-ng-controller="ToolbarCtrl" 
	    class="navbar navbar-default navbar-static-top top-bar"
		role="navigation" style="margin-bottom: 0px;" id="navbar">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#top-bar-collapse"
					onclick="setTimeout(function() { $(window).resize(); }, 1000);">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href=""
					style="position: relative; margin: 0px 5px 0px 0px; padding: 0px; width: 45px;">
					<img src="img/wa-logo.png" alt="" style="position: absolute; top: 50%; left: 50%; margin-top: -23px; margin-left: -23px"/>
				</a>
			</div>
	
	
			<div class="collapse navbar-collapse" id="top-bar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li data-ng-show="activityStack().length > 0" class="navbar-text">
						<span data-ng-click="stopAllActivities()">
							<i class="fa fa-home pointer"></i>
						</span>
					</li>
					<li class="navbar-text" style="margin-left: 0px;">
						<span data-ng-show="activityStack().length > maxBreadcrumbSize">
							<i class="fa fa-caret-right"></i>
							...{{activityStack().length - maxBreadcrumbSize}} attività...
						</span>
						<span
							data-ng-repeat="item in activityStack() | limitTo:-maxBreadcrumbSize track by $index">
							<i class="fa fa-caret-right"></i>
							<i class="fa fa-external-link"
								data-ng-show="item.openMode == 'CHILD_POPUP'"></i>
							{{item.description}} &nbsp;
						</span>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" data-ng-show="notifies().length > 0">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell"></i>
							<span class="badge badge-warning">{{notifies().length}}</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li data-ng-repeat="n in notifies()">
								<a href="" data-ng-click="removeNotify($index)">
									<span class="badge badge-info">{{n.type}}</span>
									{{n.message}}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="" data-ng-click="removeAllNotifies()">
									<i class="fa fa-times"></i>
									Rimuovi tutte le notifiche
								</a>
							</li>
						</ul>
					</li>
					
					<li data-ng-repeat="action in activityActions">
						<a href="" data-ng-click="executeAction(action)">
							<i class="fa" data-ng-class="action.iconClass" ></i>
						</a>
					</li>
					
					<li data-ng-repeat="action in toolbarActions" class="dropdown">
						<a href="" data-ng-click="executeAction(action)">
							<i class="fa" data-ng-class="action.iconClass" ></i>
						</a>
					</li>
	
					<li data-ng-show="activityStack().length > 0 && currentActivity().openMode != 'CHILD_POPUP'">
						<a href="" class="btn-danger" data-ng-click="stopActivity()">
							<i class="fa fa-step-backward"></i>
							indietro
						</a>
					</li>
					<li data-ng-show="isLayerStacked()">
						<a href="" class="btn-warning"
							data-ng-click="stopAllPopupActivities()">
							chiudi
							<i class="fa fa-times"></i>
						</a>
					</li>
				</ul>
				<p class="navbar-text navbar-right" data-ng-show="startingApp">
					<span class="badge badge-info">Avvio applicazione
						{{startingApp}}...</span>
				</p>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div data-ng-hide="displayActivity">
		<div class="pointer app text-center" data-ng-repeat="app in apps  | filter:{main:'!!'}"
			data-ng-click="startApp(app.id)">
			<img data-ng-src="{{app.icon}}" alt="">
			<div class="caption">
				<p>{{app.name}}</p>
			</div>
		</div>
	</div>
	<div data-ng-show="displayActivity" id="viewport-container">
		<div id="viewport" class="viewport"></div>
		<div id="layers-viewport"></div>
	</div>
	
	<div id="settings-panel" class="panel hidden-panel">
		<tabset justified="true"> 
			<tab data-ng-repeat="settingPanel in settingsPanels" >
				 <tab-heading>
					<i class="fa {{ settingPanel.icon }}"></i> {{ settingPanel.title }} 
				</tab-heading>
				<div id="settings-panel-body" data-ng-include="settingPanel.templateUrl">
				</div>
			</tab>
		 </tabset>
	</div>
	<div id="settings-modal">
	</div> 
</div>