
<div data-ng-controller="SearchCtrl">

	<form role="form">
		<div class="form-group">
			<input type="search" id="searchActivityInput"
			    data-ng-keydown="keyDown($event)"
				data-ng-model="searchInput" class="form-control" placeholder="What?">
		</div>
	</form>

	<div
		data-ng-repeat="searchItem in ( filteredItems = ( activityDefs | filter: {$:searchInput,startable:true} )) "
		class="panel panel-default panelSearchItem" data-ng-class='{selected: $index==selectedItemIndex}'>
		<div class="panel-body activitySearchItem"
			data-ng-click="startActivity($event,searchItem)">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2 iconCol">
						<img data-ng-src="{{searchItem.icon}}" alt="">
					</div>
					<div class="col-md-6">
						<p>{{searchItem.name}}</p>
						<p>{{searchItem.appName}}</p>
					</div>
					<div class="col-md-4">
						<div class="btn-group btn-group-xs pull-right">
							<button type="button" class="btn btn-default"
								data-ng-click="startActivity($event,searchItem)">
								<span class="glyphicon glyphicon-play"></span>
							</button>
							<button type="button" class="btn btn-default"
								data-ng-click="startActivity($event,searchItem,'CHILD')">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
							<button type="button" class="btn btn-default"
								data-ng-click="startActivity($event,searchItem,'CHILD_POPUP')">
								<span class="glyphicon glyphicon-new-window"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>