<link rel="stylesheet" href="view/css/app.css" />
<link rel="stylesheet" href="view/css/font-awesome.min.css" />

<h3 class="page-header" style="margin-top: 1em;">
		<i class="fa fa-envelope"></i> I tuoi messaggi
</h3>
<div class="table-responsive">
		<table class="table table-hover">
				<thead>
						<tr>
								<th>From</th>
								<th>Subject</th>
								<th>Date</th>
								<th>Flags</th>
								<th>Size</th>
						</tr>
				</thead>
				<tbody id="messages">
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr style="font-weight: bold">
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
						<tr>
								<td>pippo@pippo.it</td>
								<td>Richiesto documenti di analisi n. 56123</td>
								<td>oggi, alle 17 e 30</td>
								<td><i class="fa fa-paperclip"></i></td>
								<td>12 kb</td>
						</tr>
				</tbody>
		</table>
</div>

