<link rel="stylesheet" href="view/css/app.css" />
<link rel="stylesheet" href="view/css/font-awesome.min.css" />


<h3 class="page-header" style="margin-top: 1em;">
		<a href="javascript:void(0)" class="close pull-right" id="close-message">&times</a> <i class="fa fa-envelope-o"></i> Richiesto documenti di analisi n. 56123
</h3>
<p>
		<small> <i class="fa fa-user"></i> pippo@pippo.it | <i class="fa fa-calendar"></i> oggi alle 17.30
		</small>
</p>
<hr />
<button type="button" class="btn btn-primary btn-sm">Rispondi</button>
<button type="button" class="btn btn-danger btn-sm">Elimina</button>
<hr />

<p>Lorem ipsum dolor sit amet consectetuer est mattis a est id. Lorem leo neque lorem In vel Donec Nam Phasellus interdum pretium. Et enim nibh ante Vivamus sagittis ante Nam tortor id Phasellus. Montes dolor sem elit et Aliquam justo pellentesque urna consequat vestibulum. Porttitor ligula semper at sit felis Vivamus.</p>
<p>Pellentesque nulla adipiscing urna ac dictumst nibh lorem vitae Suspendisse sem. Eros et vitae gravida semper felis urna ipsum et ut leo. Aliquam enim orci sem lobortis sem ante Nam gravida pellentesque auctor. Nibh pede nisl condimentum cursus a id urna faucibus consequat nulla. Nulla id vel semper dui enim mattis sem nunc pede sodales. Sed Vivamus cursus nisl porta ut ac amet.</p>
<p>Interdum Nam porttitor dis at justo dignissim est Curabitur tempor sit. Egestas et malesuada Morbi quam ut dui a nibh nisl id. Sit urna habitasse tincidunt id urna nibh eget id sit auctor. Convallis nibh wisi magnis Fusce eget feugiat mauris suscipit elit Pellentesque. Justo congue ligula dui habitasse dolor feugiat condimentum justo porttitor et. Enim quis risus Vestibulum hac.</p>
<p>
		Saluti,<br>Pippo Pluto
</p>
